@media (max-width:768px) and (min-width:320px){
    .laptop{display: none;}
    /* .error{display: block; background-repeat: no-repeat; background-size: cover; background-position: center;} */
    .laptop-footer{display: none;}
     .Mobile{display:block;}
    /*body{margin-top: 2px;} */
    /* .mobile-header{background-color: rgba(216, 81, 81, 0.363); height: 3em; width: 100%; margin: 0; padding: 0;} */
    }

